.dashboard-container {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
}

.left {
  border-right: 1px solid #f2f2f2;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.left-greetings {
  padding-top: 10px;
  margin-left: 10px;
  h2 {
    font-family: Plus Jakarta Sans;
    font-size: 21px;
    margin-bottom: 10px;
  }
  p {
    color: #969696;
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.left-top {
  margin-top: 20px;
  margin-left: 10px;
}

.left-bottom {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  height: auto;
  overflow: hidden;
  h3 {
    padding-bottom: 10px;
  }
  p {
    border-bottom: 3px solid #5735d2;
    width: 70px;
    color: #5735d2;
    font-size: medium;
    font-weight: 600;
  }
}

ul {
  border-top: 2px solid #f2f2f2;
  list-style: none;
  padding: 0;
  overflow-y: auto;
  margin-right: 20px;
  flex-grow: 1;
  height: 100%;
}

.income-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.income-detail {
  display: flex;
  flex-direction: column;
}

.date {
  color: #969696;
  font-size: 14px;
}
.total-income {
  span {
    color: #5cc47c;
  }
}
span {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font: bold;
}

.right {
  flex-grow: 1;
  max-width: 30%;
}

@media (max-width: 700px) {
  .dashboard-container {
    flex-direction: column;
  }

  .left {
    max-width: 100%;
    flex-grow: 0;
  }

  .right {
    max-width: 100%;
    flex-grow: 0;
  }

  .left-bottom {
    max-height: 350px;
    overflow-y: scroll;
  }
}
