.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 10px;
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
  justify-content: space-between;
}

.logo-container {
  flex-shrink: 0; // Prevent shrinking
  display: flex;
  justify-content: flex-start;
  padding: 5px 0;
  margin-left: 10px;
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  justify-content: flex-start;
  flex-grow: 2;
  position: relative;
  margin-left: 30px;

  input {
    border: none;
    min-width: 200px; // Ensure consistent width
    padding: 7px 0 5px 15px;
    text-align: center;
    padding-left: 30px;
    box-sizing: border-box;
  }

  input::placeholder {
    text-align: center;
  }

  input:focus {
    text-align: left;
  }

  mat-icon {
    position: absolute;
    left: 8px; // Adjust for better alignment
    top: 50%;
    transform: translateY(-50%);
    padding: 0; // Remove padding
  }
}

.user-nav-container {
  flex-shrink: 0; // Prevent shrinking
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;

  img {
    margin: 0 8px;
    border-radius: 20px;
    cursor: pointer;
  }

  .material-icons,
  .dropdown-icon {
    cursor: pointer;
    color: lightgray;
  }

  .material-icons:hover,
  .dropdown-icon:hover {
    color: #5735d2;
  }
}

.avatar {
  object-fit: cover;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  flex-direction: column;

  button {
    background-color: rgb(151, 113, 233);
    color: lightgray;
  }
}
