<div class="header-container">
  <div class="logo-container">
    <img class="header-logo" src="assets/logo.png" alt="logo" />
  </div>
  <div class="search-bar-container" ng-controller="searcController">
    <mat-icon>
      <span class="material-symbols-outlined"> search </span>
    </mat-icon>
    <input
      type="text"
      placeholder="Search for something here ..."
      [(ngModel)]="searchInputText"
      (input)="onSearchInputChanged()"
    />
  </div>
  <div class="user-nav-container">
    <mat-icon class="notifications-icon">
      <span class="material-icons"> notifications </span>
    </mat-icon>
    <img class="avatar" src="assets/user.jpg" alt="user avatar" />
    <mat-icon (click)="toggleDropDown()" class="dropdown-icon">
      <span class="material-symbols-outlined"> keyboard_arrow_down </span>
    </mat-icon>
  </div>
</div>
