<ng-container *ngIf="isLoading">
  <div class="loading-spinner">
    <div class="spinner">
      <p>Loading...</p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading && !isLoggedIn">
  <app-auth />
</ng-container>

<ng-container *ngIf="isLoggedIn && !isLoading">
  <app-header />
  <div class="body-container" [class.collapsed]="sidebarCollapsed">
    <app-sidebar (sidebarToggle)="onSidebarToggle($event)" />
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
