body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.body-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 77px);
  gap: 10px;
  transition: 0.3s ease-in-out;
  min-height: 100vh;
}
app-header {
  height: 77px;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: margin-left 0.2s ease-in-out;
  min-height: 0;
}

.loading-spinner-placeholder {
  width: 100vw;
  height: 100vh;
}

.loading-spinner {
  width: 100vw;
  height: 100vh;
  background: #5735d2;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    font-size: 40px;
  }
}
