<div *ngIf="isLoading" class="loading-spinner">
  <div class="spinner">
    <p>Loading...</p>
    <!-- You can replace this with a spinner -->
  </div>
</div>

<!-- Show the authentication component if the user is not logged in -->
<app-auth *ngIf="!isLoggedIn" />

<div *ngIf="isLoggedIn">
  <app-header />
  <div class="body-container" [class.collapsed]="sidebarCollapsed">
    <app-sidebar (sidebarToggle)="onSidebarToggle($event)" />
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Loading screen needs to be fixed -->
