body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-header {
  height: 70px;
}

.body-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 77px);
  transition: 0.3s ease-in-out;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 77px);
  transition: margin-left 0.2s ease-in-out;
}

.loading-spinner-placeholder {
  width: 100vw;
  height: 100vh;
}

.loading-spinner {
  width: 100vw;
  height: 100vh;
  background: #5735d2;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    font-size: 40px;
  }
}
