html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.body-container {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 65px);
  gap: 10px;
  flex-grow: 1;
  transition: grid-template-columns 0.3s ease-in-out;
}

.body-container.collapsed {
  grid-template-columns: 60px 1fr;
}

.content {
  display: flex;
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
}
