.container {
  display: flex;
  flex-direction: column;
  height: calc((100vh - 80px));
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  padding-right: 35%;
  input {
    min-width: 200px;
    min-height: 20px;
    background: #f2f2f2;
    border-radius: 20px;
    border: none;
    color: #333;
  }
  ::placeholder {
    text-align: center;
  }
}

.top .history-header {
  padding-top: 15px;
  h3 {
    padding-bottom: 10px;
  }
  p {
    border-bottom: 3px solid #5735d2;
    width: 70px;
    color: #5735d2;
    font-size: medium;
    font-weight: 600;
  }
}

.transactions-container {
  flex-grow: 1;
  overflow-y: auto;
}
.transactions {
  list-style: none;
  padding: 0;
  border-top: 2px solid #f2f2f2;
}

.transaction-detail {
  display: flex;
  flex-direction: column;
}
.transactions li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: #f2f2f2;
  }
}

.amount {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .category {
    padding-right: 3rem;
  }
  .negative {
    color: red;
  }
  .positive {
    color: #5cc47c;
  }
}

.amount-total {
  padding-left: 7px;
  padding-right: 10px;
}

select {
  border: none;
  border-radius: 20px;
  text-align: center;
  appearance: none;
}

.default-option {
  color: gray;
}

.transportation {
  background-color: red;
  color: white; /* Optional: Adjust text color for better visibility */
}

.other {
  background-color: blue;
  color: white;
}

.groceries option {
  background-color: green;
  color: white;
}

.pharmacy {
  background-color: purple;
  color: white;
}

.food {
  background-color: orange;
  color: white;
}

.finance {
  background-color: teal;
  color: white;
}

.utilities {
  background-color: brown;
  color: white;
}

.fitness {
  background-color: yellow;
}

.retail {
  background-color: coral;
  color: white;
}

.healthcare {
  background-color: violet;
  color: white;
}

.salary {
  background-color: pink;
  color: black;
}
