.sidebar-container {
  display: flex;
  height: calc(100vh - 77px);
  flex-direction: column;
  border-right: 1px solid rgba(150, 150, 150, 0.3);
  transition: all 0.3s ease-in-out;
}

.sidebar-container.sidebar-collapsed {
  width: 60px;
  overflow: hidden;
}

.sidebar-container.sidebar-collapsed p {
  display: none;
}

.sidebar-upper,
.sidebar-lower {
  width: 100%;
}

.sidebar-upper {
  display: flex;
  flex-direction: column;
  flex: 2;

  .sidebar-togglebtn {
    display: flex;
    justify-content: flex-end;
    color: rgba(150, 150, 150, 1);
    margin: 2px 3px 0 0;
    cursor: pointer;
    span {
      border-radius: 20px;
    }
    &:hover {
      color: #5735d2;
    }
  }

  .dashboard,
  .breakdown,
  .transactions,
  .upload,
  .messages,
  .account {
    padding: 0.3rem 0 0.3rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-top: 1rem;
    mat-icon {
      margin-left: 1rem;
      color: rgba(150, 150, 150, 1);
      transition: color 0.2s ease-in-out;
    }
    p {
      margin-left: 0.5rem;
      color: rgba(150, 150, 150, 1);
      transition: color 0.2s ease-in-out;
    }
    &:hover {
      mat-icon,
      p {
        color: #5735d2 !important;
      }
    }
  }
  .active {
    mat-icon,
    p {
      color: #5735d2 !important;
    }
  }
}

.sidebar-lower {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;

  .logout,
  .settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-left: 0.5rem;
    padding: 0.3rem 0 0.3rem 0;

    mat-icon {
      margin-left: 1rem;
      color: rgba(150, 150, 150, 1);
      transition: color 0.2s ease-in-out;
    }

    p {
      margin-left: 0.5rem;
      color: rgba(150, 150, 150, 1);
      transition: color 0.2s ease-in-out;
    }
    &:hover {
      mat-icon,
      p {
        color: #5735d2 !important;
      }
    }
  }
  .logout.active,
  .settings.active {
    mat-icon,
    p {
      color: #5735d2 !important;
    }
  }
}
